iframe {
    height:200px;
}
#showBox {
	height:200px;
	width:100%;
}
#chatBox {
	Height: 350px;
	Overflow-y: scroll;
}
#talkScroll {
	Height: 310px;
	Overflow-y: scroll;
}
.videoButtons {
	margin-top:default;
}