iframe {
    height:300px;
}
#showBox {
	height:200px;
	width:100%;
}
#chatBox {
	Height: 400px;
	Overflow-y: scroll;
}
#talkScroll {
	Height: 300px;
	Overflow-y: scroll;
}
.videoButtons {
	margin-top:default;
}