iframe {
    height:600px;
}
#showBox {
	height:400px;
	width:100%;
}
#chatBox {
	Height: 500px;
	Overflow-y: scroll;
}
#talkScroll {
	Height: 400px;
	Overflow-y: scroll;
}
.videoButtons {
	margin-top:-600px;
}