html, body {
    max-width: 100%;
    height:100%;
    overflow-x: hidden;
    background: url('banners/1347919245877.jpg');
}
.white {
	background-color: white;
	border: 20px white solid;
	box-shadow: 5px 5px 5px;
	border-radius: 10px;
}
#video {
	Overflow: hidden;
}
#centerDiv {
	Display: inline;
}
.videoButtons {
	margin-top:-250px;
}
#calendar {
	Position: absolute;
	Top: 10px;
	Left: 20px;
	Width:6%
}
#chatBox {
	Height: 460px;
	Overflow-y: scroll;
}
#talkBox {
}
#talkScroll {

	Height: 450px;
	Overflow-y: scroll;
}
#shoutBox {
	margin-top: -20px;
}