html, body  {
	height:100%;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: url('banners/1347919245877.jpg');
}
.white {
	background-color: white;
	border: 20px white solid;
	border-radius: 10px;
}
#video {
	Overflow: hidden;
}
#centerDiv {
	Display: inline;

}
.videoButtons {
	margin-top:-250px;
}
#calendar {
	Position: absolute;
	Top: 10px;
	Left: 20px;
	Width:6%
}
#chatBox {
	Height: 520px;
	Overflow-y: scroll;
}
#talkScroll {

	Height: 460px;
	Overflow-y: scroll;
}
#shoutBox {
	Margin-top: -20px;
}
#showBox {
	height:300px;
	width:100%;
}
.img-rounded {
   max-height: 100%;
  max-width: 70%; 
  height:inherit;
  width:inherit;

}
textarea { 
	Resize:vertical;
}
.shadow {
		Box-shadow: 10px 10px 10px;
}
.disabled {
	opacity: 0.0;
}